In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score, classification_report

In [4]:
train_data = pd.read_csv("train_data.csv")
train_data.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,67,1,0,120,237,0,1,71,0,1.0,1,0,2,0
1,63,1,0,130,330,1,0,132,1,1.8,2,3,3,0
2,43,1,0,150,247,0,1,171,0,1.5,2,0,2,1
3,45,1,1,128,308,0,0,170,0,0.0,2,0,2,1
4,55,0,1,132,342,0,1,166,0,1.2,2,0,2,1

In [5]:
test_data = pd.read_csv("test_data.csv")
test_data.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,55,1,0,140,217,0,1,111,1,5.6,0,0,3,0
1,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
2,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
3,39,0,2,138,220,0,1,152,0,0.0,1,0,2,1
4,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0

In [6]:
X = train_data.drop("target", axis=1)
Y = train_data["target"]

In [7]:
X = X.to_numpy()
Y = Y.to_numpy()

In [9]:
X_transpose = np.transpose(X, axes=None)
Xtranspose_X = np.dot(X_transpose, X)
Xtranspose_XInverse = np.linalg.inv(Xtranspose_X)
X_whole = np.dot(Xtranspose_XInverse, X_transpose)
beta = np.dot(X_whole, Y)
print(beta)

[ 0.00319345 -0.16709581  0.11945723 -0.00105242 -0.00030472  0.06751012
  0.0696434   0.00502699 -0.12423311 -0.0445121   0.12045992 -0.10898393
 -0.09435777]

In [13]:
x_test = [50,0,2,120,219,0,1,158,0,1.6,1,0,2]
# age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target

In [14]:
x_test = np.array(x_test)

In [15]:
y = np.dot(beta, x_test)

In [18]:
y

0.929995668326911

In [16]:
c = 1/(1 + np.exp(-y))

In [17]:
c

0.7170744066895852